<p data-height="265" data-theme-id="0" data-slug-hash="bpOrGm" data-default-tab="js,result" data-user="hghpwrdmtnt" data-embed-version="2" data-pen-title="RPG GAME" class="codepen">See the Pen <a href="https://codepen.io/hghpwrdmtnt/pen/bpOrGm/">RPG GAME</a> by dmirtyisme (<a href="https://codepen.io/hghpwrdmtnt">@hghpwrdmtnt</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>